<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Flash Me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/flat-ui.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<div class="row demo-row">
		<div class="col-xs-12">
			<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-brand" href="/">Flash Me</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse-01">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/about">About Us</a></li>
						<li><a href="/signin">Sign In</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<div class="container">
		<h1 class="text-center">Flash Me</h1>
		<h2 id="slogan" class="text-center">Meet the legendary team behind this service.</h2>
	</div>
	<div style="padding-top: 2.0em;" class="container">
		<div class="row">
			<div class="col-md-3 text-center">
				<img class="img-responsive center-block" src="img/creators/aashna2.jpg">
			</div>
			<div class="col-md-9 text-center">
				<h3 style="margin-top: 2.0em;">I am Aashna Makkar</h3>
				<p>
					I'm Aashna Makkar and I worked on the backend server.
				</p>
			</div>
			<hr>
		</div>

		<div style="padding-top: 2.0em;" class="row">
			<div class="col-md-3 text-center">
				<img class="img-responsive center-block" src="img/creators/shotaro.jpg">
			</div>
			<div class="col-md-9 text-center">
				<h3 style="margin-top: 2.0em;">I am Shotaro Ikeda</h3>
				<p>
					I'm Shotaro Ikeda and I worked on the iOS application.
				</p>
			</div>
			<hr>
		</div>

		<div style="padding-top: 2.0em;" class="row">
			<div class="col-md-3 text-center">
				<img class="img-responsive center-block" src="img/creators/shank.jpg">
			</div>
			<div class="col-md-9 text-center">
				<h3 style="margin-top: 2.0em;">I am Shashank Saxena</h3>
				<p>
					I'm Shashank Saxena and I worked on both the frontend and backend.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 text-center"></div>
		<div class="col-md-4 text-center">
			<a style="font-size: 1.5em;" class="text-center" href="/">Go Home</a>
		</div>
		<div class="col-md-4 text-center"></div>
	</div>
	<div class="container">
		<hr>
		<blockquote>SpartaHack 2016 | All Rights Reserved.</blockquote>
	</div>

	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/video.js"></script>
	<script src="js/flat-ui.min.js"></script>
</body>

</html>