<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Flash Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/flat-ui.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/cards.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.flashcard').on('click', function() {
            $('.flashcard').toggleClass('flipped');
        });
    });
    </script>
</head>

<body>
    <div class="row demo-row">
        <div class="col-xs-12">
            <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="/">Flash Me</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-01">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/signin">Sign In</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <h1 class="text-center">Flash Me</h1>
    </div>
    <div class="stage">
        <div class="flashcard">
            <div class="front">
                <p>Front</p>
            </div>
            <div class="back">
                <p>Back</p>
            </div>
        </div>
        <div class="flashcard">
            <div class="front">
                <p>Front 2</p>
            </div>
            <div class="back">
                <p>Back 2</p>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <blockquote>SpartaHack 2016 | All Rights Reserved.</blockquote>
    </div>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/video.js"></script>
    <script src="js/flat-ui.min.js"></script>
</body>

</html>