<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Flash Me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/flat-ui.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<div class="row demo-row">
		<div class="col-xs-12">
			<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-brand" href="/">Flash Me</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse-01">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/about">About Us</a></li>
						<li><a href="/signin">Sign In</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<div class="container">
		<h1 class="text-center">Flash Me</h1>
		<h2 id="slogan" class="text-center">Learn intelligently with our service.</h2>
	</div>
	<img style="padding: 2em 0 2em 0;" src="http://education.reallusion.com/images/edu_banner_all01.jpg" class="img-responsive center-block">
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-center">
				<h3>Secure</h3>
				<p>
					User information and questions are stored and preserved in a secure database.
				</p>
			</div>
			<div class="col-md-4 text-center">
				<h3>Simple</h3>
				<p>
					Above all, we wanted to make the app simple and intuitive.
				</p>
			</div>
			<div class="col-md-4 text-center">
				<h3>Savvy</h3>
				<p>
					Start learning better by seeing a graphical representation of your performance.
				</p>
			</div>
		</div>
		<div style="padding-top: 1.0em;" class="row">
			<div class="col-xs-12">
				<h3 class="text-center">Try us now! You can sign up here:</h3>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4">
			</div>
			<div class="col-xs-4">
				<a href="/signup" class="btn btn-primary center-block">Sign Up</a>
			</div>
			<div class="col-xs-4">
			</div>
		</div>
	</div>

	<div class="container">
		<hr>
		<blockquote>SpartaHack 2016 | All Rights Reserved.</blockquote>
	</div>

	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/video.js"></script>
	<script src="js/flat-ui.min.js"></script>
</body>

</html>