<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('fill') }}">Fill</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Users</h3>
      
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Flight</th>
               <th>Trasportation</th>
               <th>Food</th>
               <th>Entertainment</th>
               <th>Living</th>
            </tr>
         </thead>
         
         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ users.name }}</td>
                  <td>{{ users.flight }}</td>
                  <td>{{ users.transport }}</td>
                  <td>{{ users.food }}</td>
                  <td>{{ users.entertainment }}</td>
                  <td>{{ users.living }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>